<div *ngIf="(creditCard$ | async) as creditCard; else noCard">
    <div style="display: flex; margin-bottom: 50px">
        <div>
            <h2>{{creditCard.card_number}}</h2>
            <p>Name: {{creditCard.cardholder_name}}</p>
            <p>CSC code: {{creditCard.csc_code}}</p>
            <p>Expiration month: {{creditCard.expiration_date_month | readableMonth}}</p>
            <p>Expiration year: {{creditCard.expiration_date_year}}</p>
            <p>Issuer: {{creditCard.issuer}}</p>
        </div>
        <div style="align-self: center;">
            <button (click)="deleteCreditCard()">Delete credit card</button>
        </div>
    </div>

    <h2>Transactions</h2>
    <div *ngIf="(transactions$ | async) as transactions">
        <app-transaction-list [transactions]="transactions"></app-transaction-list>
    </div>
</div>

<ng-template #noCard>
    <h1>No credit card found.</h1>
</ng-template>