<div style="display: flex; justify-content: space-between;">
    <h2>Transactions</h2>
    <button mat-button color="primary" routerLink="add-transaction">Add Transaction</button>
</div>
<div>
    <p>Filter by card number</p>
    <mat-form-field appearance="fill">
        <mat-label>Credit Card</mat-label>
        <mat-select (selectionChange)="filterSelectionChanged($event)">
            <mat-option>
                All
            </mat-option>
            <mat-option *ngFor="let creditCard of creditCards$ | async" [value]="creditCard">
                {{creditCard.card_number}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="(filteredTransactions$ | async) as transactions; else noTransactions">
    <app-transaction-list [transactions]="transactions"></app-transaction-list>
</div>

<ng-template #noTransactions>
    <h1>No transactions found.</h1>
</ng-template>